{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form_wrapper glass">
    <div class="form_box">
        <h2>Register</h2>
        <form method="POST">
            {% csrf_token %}
            {% if form.username.errors %}
            <div class="errors">{{ form.username.errors.0 }}</div>
            {% endif %}
            <div class="input_box">
                {{ form.first_name }}
                <label class="form-label">First Name</label>
            </div>
            <div class="input_box">
                {{ form.last_name }}
                <label class="form-label">Last Name</label>
            </div>
            <div class="input_box">
                {{ form.email }}
                <label class="form-label">Email</label>
            </div>
            {% if form.password1.errors %}
            <div class="errors">{{ form.password1.errors.0 }}</div>
            {% endif %}
            <div class="input_box">
                {{ form.password1 }}
                <label class="form-label">Password</label>
            </div>
            {% if form.password2.errors %}
            <div class="errors">{{ form.password2.errors.0 }}</div>
            {% endif %}
            <div class="input_box">
                {{ form.password2 }}
                <label class="form-label">Confirm Password</label>
            </div>
            <button class="btn_primary" type="submit">Sign up</button>
            <p class="login-signup">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
        </form>
    </div>
</div>
<script src="{% static 'js/process-cart-functions.js' %}"></script>
{% endblock %}
